
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Fira Sans', sans-serif;
  font-size: 36px;
  font-weight: 300;
  color: #363636;
}

p {
  line-height: 60px;
}

.container {
  position: absolute;
  top: 50%;
  left: 140px;
}

.photo {
  display: inline-block;
  width: 110px;
  height: 110px;
  margin-right: 40px;
  border-radius: 50%;
  background-image: url('photo.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.content {
  display: inline-block;
  position: relative;
}

.text {
  position: relative;
  top: -10px;
}

.technologies {
  width: 100%;
  height: 32px;
  position: absolute;
  top: 0;
  right: 0;
  background-image: url('technologies.svg');
  background-repeat: no-repeat;
  background-position: right top;
  background-size: contain;
}
