
////
/// 1. Foundation custom configuration
////

// 1.0 Import foundation default settings
@import 'foundation-settings';

// 1.1 Font
$body-font-family: 'Fira Sans', Arial, sans-serif;

// 1.2 XY Grid
$grid-margin-gutters: (small: 25px);
$grid-container-padding: 0px;

////
/// 2. Color palette
////

$palette: (
  white: white,
  cello: #3C465F,
  big-stone: #19213D,
  corn-flower-blue: #434666,
  dolphin: #606280
);

@import 'functions';
