/**
 * Project: codeams.me
 * Author: codeams@gmail.com
 * License: All rights reserved.
 */


body {
  min-width: 400px;
  padding-top: 120px;
  background-color: white;
  color: #777;
}


.message {
  width: 100%;
  margin-bottom: 120px;
  text-align: center;
  font-size: 36px;
}

.message p {
  margin-bottom: 30px;
}

.message p:last-of-type {
  margin-bottom: 0;
}


.social-icons {
  margin: 0 auto 30px;
  text-align: center;
}

.social-icons a {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-right: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 60px 60px;
  background-color: white;
  border-radius: 50%;
}

.social-icons .linkedin,
.social-icons .github {
  background-size: 50px 50px;
}

.social-icons a:last-of-type {
  margin-right: 0;
}

.social-icons .github {
  background-image: url(../icons/github.svg);
}

.social-icons .codepen {
  background-image: url(../icons/codepen.svg);
}

.social-icons .linkedin {
  background-image: url(../icons/linkedin.svg);
}


@media only screen and (max-width: 640px) {
  .message {
    font-size: 22px;
  }

  .social-icons a {
    width: 70px;
    height: 70px;
  }
}
