/**
 * Project: codeams.me
 * Author: codeams@gmail.com
 * License: All rights reserved.
 */


body {
  min-width: 400px;
  padding-top: 120px;
  background-color: white;
  color: #777;
}


.message {
  width: 100%;
  margin-bottom: 120px;
  text-align: center;
  font-size: 36px;
  transition: font-size 300ms, margin 300ms;
}

.message p {
  margin-bottom: 30px;
}

.message p:last-of-type {
  margin-bottom: 0;
}


.social-icons {
  margin: 0 auto 30px;
  text-align: center;
}

.social-icons a {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-right: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 60px 60px;
  background-color: white;
  border-radius: 50%;
  transition: width 100ms, height 100ms, background-size 100ms;
}

.social-icons .linkedin,
.social-icons .github {
  background-size: 50px 50px;
}

.social-icons a:last-of-type {
  margin-right: 0;
}

.social-icons .github {
  background-image: url(../icons/github.svg);
}

.social-icons .codepen {
  background-image: url(../icons/codepen.svg);
}

.social-icons .linkedin {
  background-image: url(../icons/linkedin.svg);
}

.top-right-corner,
.bottom-left-corner {
  position: absolute;
  width: 70px;
  height: 70px;
}

.top-right-corner {
  top: 0;
  right: 0;
}

.bottom-left-corner {
  bottom: 0;
  left: 0;
}

.top-right-corner::before,
.top-right-corner::after,
.bottom-left-corner::before,
.bottom-left-corner::after {
  display: block;
  position: absolute;
  content: '';
  background-color: red;
  opacity: 0.5;
}

.top-right-corner::before {
  right: 0;
}

.bottom-left-corner::after {
  bottom: 0;
}

.top-right-corner::before,
.bottom-left-corner::before {
  width: 25px;
  height: 100%;
}

.top-right-corner::after,
.bottom-left-corner::after {
  width: 100%;
  height: 25px;
}


@media only screen and (max-width: 640px) {
  .message {
    font-size: 22px;
    margin-bottom: 60px;
  }

  .social-icons a {
    width: 70px;
    height: 70px;

    background-size: 40px 40px !important;
  }
}
